In [16]:
import pandas as pd
import numpy  as np

In [18]:
np = np.random.rand(5,5)

In [19]:
df = pd.DataFrame(np)

In [20]:
df

          0         1         2         3         4
0  0.781563  0.146984  0.629008  0.140863  0.863944
1  0.583605  0.213696  0.487365  0.139937  0.886888
2  0.729807  0.449926  0.381296  0.342993  0.023766
3  0.055612  0.178429  0.255754  0.249435  0.313702
4  0.468132  0.949578  0.815027  0.056286  0.514566